<div class="sidebar" id="sidebar">
  <a href="#" onclick="showSection('home')">🏠 Home</a>
  <a href="#" onclick="showSection('forum')">💬 Fórum</a>
  <a href="#" onclick="showSection('mapa')">🗺️ Mapa Cultural</a>
  <a href="#">📂 Materiais</a>
  <div class="submenu">
    <a href="#" onclick="showSection('recursos_teoricos')">📜 Recursos Teóricos/Tecnológicos</a>
    <a href="#" onclick="showSection('recursos_praticos')">🛠️ Recursos Práticos</a>
  </div>
  <a href="#" onclick="showSection('biblioteca')">📖 Biblioteca</a>
  <a href="#" onclick="showSection('reflexoes')">💭 Reflexões</a>
</div>
